# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
app/app.component.js
app/app.module.js
app/item/item-detail.component.js
app/item/item.js
app/item/item.service.js
app/item/items.component.js
app/main.js
gen/
node_modules/
platforms/
/app/app.routing.js
